black==23.7.0
click==8.1.7
contourpy==1.1.0
cycler==0.11.0
fonttools==4.42.1
kiwisolver==1.4.5
matplotlib==3.7.2
mypy-extensions==1.0.0
numpy==1.25.2
packaging==23.1
pandas==2.1.0
pathspec==0.11.2
Pillow==10.0.0
platformdirs==3.10.0
plotly==5.16.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
tenacity==8.2.3
tzdata==2023.3
